@model CarPartModel
<h3>Add carPart for car @Model.CarId</h3>
@using (Html.BeginForm("Create", "CarPart", FormMethod.Post))
{
    @Html.HiddenFor(a => a.CarId)

    @Html.LabelFor(a => a.Name)
    @Html.TextBoxFor(a => a.Name)

    @Html.LabelFor(a => a.Manufacturer)
    @Html.TextBoxFor(a => a.Manufacturer)
        
    <input type="submit" value="Submit"/>
}