@model List<ShopItemModel>
<h3>Shop item list</h3>
<br/>

@if (@Model.Any())
{
        <table class="table">
            <thead><th scope="col">Item Id</th><th scope="col">Name</th><th scope="col">Expiry date</th><th scope="col">Shop name</th><th scope="col">Actions</th></thead>
        @foreach(var shopItem in @Model)
        {
            <tr scope="row">
            <td scope="col">@shopItem.Id</td><td scope="col">@shopItem.Name</td><td scope="col">@shopItem.ExpiryDate</td><td scope="col">@shopItem.Shop.Name</td>
            <td>
                @Html.ActionLink("Edit", "Edit", "ShopItem", new { Id = @shopItem.Id}, null);
                @Html.ActionLink("Update", "Update", "ShopItem", new {Id = @shopItem.Id}, null);
                @Html.ActionLink("Delete", "Delete", "ShopItem", new {Id = @shopItem.Id}, null);
            </td>
            </tr>
        }
        </table>
        @Html.ActionLink("Add new item", "Create", "ShopItem", null);
} else{
        <h4>List is empty</h4>
        @Html.ActionLink("Add new item", "Create", "ShopItem", null);
    }